---
import Layout from "../layouts/base.astro";
import { Section, ImageSection, HalfSection, EmptySection, Hero } from "../index.js";

import it from "../data/localization/it.json";
import en from "../data/localization/en.json";

const lmap = { it, en };
---

<Layout pathname={Astro.request.url.pathname} canonicalURL={Astro.canonicalURL.href}>
	<Hero
		id="hero"
		{lmap}
		image="/images/illustrations/Astronaut-pana.svg"
		title="hero-caption"
		subtitle="lorem-ipsum-medium"
		buttonText="Get started"
		buttonLink="#"
	/>

	<EmptySection id="partners" class="partners">
		<div class="wrapper">
			<span>Test</span>
		</div>
	</EmptySection>

	<HalfSection id="features" class="features" {lmap} title="hero-caption" subtitle="lorem-ipsum-short" description="lorem-ipsum-medium">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus varius mauris congue euismod. Duis semper tincidunt orci, eu consequat
			nulla vulputate et. Mauris non ornare urna, nec interdum lacus. Sed et scelerisque nulla. Fusce sagittis ullamcorper risus, at ultrices lectus
			rhoncus nec. Suspendisse at condimentum mauris. Aliquam erat volutpat. Nunc sodales vehicula lacus, quis sagittis urna suscipit quis. Integer sit
			amet erat posuere, posuere ex non, auctor ante. Maecenas ullamcorper sem non porta sollicitudin. Integer id urna semper, pretium leo eget, rhoncus
			nulla. Fusce faucibus scelerisque tincidunt.
		</p>
	</HalfSection>

	<Section id="team" class="team" {lmap} title="Title not localized" subtitle="Subtitle">
		<div class="wrapper">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus varius mauris congue euismod. Duis semper tincidunt orci, eu consequat
				nulla vulputate et. Mauris non ornare urna, nec interdum lacus. Sed et scelerisque nulla. Fusce sagittis ullamcorper risus, at ultrices lectus
				rhoncus nec. Suspendisse at condimentum mauris. Aliquam erat volutpat. Nunc sodales vehicula lacus, quis sagittis urna suscipit quis. Integer
				sit amet erat posuere, posuere ex non, auctor ante. Maecenas ullamcorper sem non porta sollicitudin. Integer id urna semper, pretium leo eget,
				rhoncus nulla. Fusce faucibus scelerisque tincidunt.
			</p>
		</div>
		<div slot="footer">
			<p>Lorem ipsum</p>
		</div>
	</Section>

	<ImageSection imgUrl="/images/yourImage.svg" imgAlt="Illustration" {lmap} title="hero-caption" subtitle="Subtitle not localized">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus varius mauris congue euismod. Duis semper tincidunt orci, eu consequat
			nulla vulputate et. Mauris non ornare urna, nec interdum lacus. Sed et scelerisque nulla. Fusce sagittis ullamcorper risus, at ultrices lectus
			rhoncus nec. Suspendisse at condimentum mauris. Aliquam erat volutpat. Nunc sodales vehicula lacus, quis sagittis urna suscipit quis. Integer sit
			amet erat posuere, posuere ex non, auctor ante. Maecenas ullamcorper sem non porta sollicitudin. Integer id urna semper, pretium leo eget, rhoncus
			nulla. Fusce faucibus scelerisque tincidunt.
		</p>
	</ImageSection>

	<Section id="contact" {lmap} title="hero-caption" subtitle="Get in Touch">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus varius mauris congue euismod. Duis semper tincidunt orci, eu consequat
			nulla vulputate et. Mauris non ornare urna, nec interdum lacus. Sed et scelerisque nulla. Fusce sagittis ullamcorper risus, at ultrices lectus
			rhoncus nec. Suspendisse at condimentum mauris. Aliquam erat volutpat. Nunc sodales vehicula lacus, quis sagittis urna suscipit quis. Integer sit
			amet erat posuere, posuere ex non, auctor ante. Maecenas ullamcorper sem non porta sollicitudin. Integer id urna semper, pretium leo eget, rhoncus
			nulla. Fusce faucibus scelerisque tincidunt.
		</p>
	</Section>
</Layout>

<style lang="scss">
	/*
	 * We suggest to place here your custom styles for the components of the page
	 leike in the example below
	 */
	.partners {
		text-align: center;

		.wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
			gap: 1rem;
			align-items: center;

			.item {
				transition: none 300ms ease-in-out;
				transition-property: transform, opacity;

				&::hover {
					transform: translateY(-0.1rem);
					opacity: 0.8;
				}
			}
		}
	}
	.features .wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
		gap: 2rem;
	}
	.team .wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 21.875rem), 1fr));
		gap: 1.5rem;
	}
</style>
